---
layout: default
---

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">inter(x)change</h1>
        <p class="splash-subhead">
            Creative Computing Workshops &amp; Knowledge Exchange<br>
        </p>
        <p>
            <a href="https://docs.google.com/forms/d/1Gv8vXFPg5fTDgLUG0eyMM6vDfUCA694uY_gldO_ynqc/viewform?usp=send_form" class="pure-button pure-button-primary">Sign up for updates!</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content ribbon l-box-lrg pure-g" id="about">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">What is inter(x)change?</h2>

            <p>
                <strong>inter(x)change</strong> is a platform for identifying meaningful overlaps across different disciplines/agencies’ applications of technology and new media.
            </p>
            <p>
                <strong>inter(x)change</strong> is where you can find out about the the workshops, lectures, and exhibitions about creative computing.
            </p>
        </div>
    </div>

    <div class="content" id="schedule">
        <h2 class="content-head is-center">Schedule of Events</h2>
        <h3 class="is-center">(Updated Regularly)</h3>

        <div class="pure-g">
        {% for post in site.posts reversed %}
            <div class="schedule-event l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-calendar-o"></i>
                    {{ post.date | date: "%B %-d, %Y" }}
                </h3>
                <ul>
                    <li><b>Who:</b> {{ post.Who }}</li>
                    <li><b>What:</b> {{ post.What }}</li>
                    <li><b>Topic:</b> {{ post.Topic }}</li>
                    <li><b>Time:</b> {{ post.Time }}</li>
                    <li><b>Where:</b> {{ post.Where }}</li>
                </ul>
                {{% if post.excerpt %}}
                {{ post.excerpt }}
                {{% endif %}}
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="content ribbon l-box-lrg pure-g" id="submissions">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="200" src="img/common/file-icons2.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">CALL FOR SUBMISSIONS</h2>

            <p>
                <strong>inter(x)change</strong> is accepting submissions from:

                <ul>
                  <li><strong>student</strong> experts in a certain tool or workflow, and would like to share the knowledge.</li>
                  <li><strong>faculty</strong> members already organizing workshops, lectures, exhibitions, or reviews who would like to offer seats to the public.</li>
                  <li><strong>anyone</strong> organizing events about creative computing</li>
                </ul>
                If interested, please <strong><a href="https://docs.google.com/forms/d/1krGSTOJLWBtjbeYVmM0GO6C5sdhwmwqtONidNC1RYlk/viewform?usp=send_form">submit your event for consideration</a></strong>.

            </p>
        </div>
    </div>

    <footer class="footer l-box is-center">
        <p>Hosted &amp; Organized by:</p>
        <ul>
            <li><a href="http://www.cmu.edu/architecture/">Carnegie Mellon University School of Architecture</a></li>
            <li><a href="http://studioforcreativeinquiry.org/">Frank-Ratchye STUDIO for Creative Inquiry</a></li>
            <li><a href="http://scottylabs.org/">ScottyLabs</a></li>
        </ul>
    </footer>

</div>
